<!DOCTYPE html>
<html>
<head>
  <title>Ruby Getting Started on Heroku</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      
      
      <!-- Prithi work start-->
      <%if guard_signed_in? %>
          <li>
            <%=link_to("Sign Out",destroy_guard_session_path,  :method => :delete  )%><span class="glyphicon glyphicon-user"></span>Sign Out</a>
          </li>
      <%elsif supervisor_signed_in?%>
          <li>
            <%=link_to("Sign Out",destroy_supervisor_session_path,  :method => :delete  )%><span class="glyphicon glyphicon-user"></span>Sign Out</a>
          </li>
      <%else%>
          <li >
            <a href="/guards/sign_in"><span class="glyphicon glyphicon-home"></span>Guard</a>
          </li>
          <li >
            <a href="/supervisors/sign_in"><span class="glyphicon glyphicon-home"></span>Supervisor</a>
          </li>
      <%end%>
    <!-- Prithi work end-->
    
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
